<!DOCTYPE html>
<html>
<head>
	<title>GK - Games</title>

	<style>
		body {
			font-family: Arial;
		}

		.navbar {
			width: 70%;
			margin: auto;
			height: 70px;
			padding-top: 10px
		}

		.navbar .item {
			float: left;
			padding-left: 10px;
			padding-right: 10px;
			height: 100%;
		}

		a {
			text-decoration: none;
			color: black;
		}

		a:hover {
			color: none;
			text-decoration: none;
		}
	</style>
</head>
<body>
	<div class="navbar">
		<!-- <div class="item"><a href="/">Home</a></div> -->
		<div class="item"><a href="/checkers">Checkers</a></div>
		<div class="item"><a href="/sudoku">Sudoku Solver</a></div>
		<div class="item"><a href="/minesweeper">Minesweeper</a></div>
		<div class="item"><a href="/snake">Snake</a></div>
	</div> 